{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],

  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
	},
	"dev": {
		"plugins": ["@babel/plugin-transform-runtime",
			[
			  "@babel/plugin-transform-spread",
			  {
				"loose": true
			  }
			]
		]
	}
  }
}


